<p
  class="codepen"
  data-height="650"
  data-default-tab="js,result"
  data-slug-hash="YPyGrwr"
  data-pen-title="Untitled"
  data-editable="true"
  data-user="CodeSquatch"
  style="
    height: 650px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 1em 0;
    padding: 1em;
  ">
  <span
    >See the Pen <a href="https://codepen.io/CodeSquatch/pen/YPyGrwr"> Untitled</a> by Ezekiel Williams (<a
      href="https://codepen.io/CodeSquatch"
      >@CodeSquatch</a
    >) on <a href="https://codepen.io">CodePen</a>.</span
  >
</p>
<script async src="https://public.codepenassets.com/embed/index.js"></script>
